<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Ashiqur Rahman" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hello <%= name %>, Here is your nodejs application</h1>
    <form
      action="http://localhost:3000/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="upload" />
      <input type="file" name="upload-multiple" multiple />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
